build
data
sample.txt
.vscode
WordCounter/.vscode/c_cpp_properties.json
WordCounter/cmakeconf.txt
WordCounter/pseudo.cpp
.vs
out
test
CMakeSettings.json
bin
WordCounter/vtune/**
WordCounter/*
WordCounter/
WordCounter
WordCounter/**
WordCounter/inc/**
WordCounterThreadPool/vtune/**
WordCounterThreadPool/a_old.txt
WordCounterThreadPool/out.txt
WordCounterThreadPool/out/**
WordCounterThreadPool/out - Copy/b.txt
WordCounterThreadPool/out - Copy/a.txt
WordCounterThreadPool/result.zip
result_by_name.txt
WordCounterTBB/output.txt